body {
  font-family: Helvetica,  Arial, sans-serif;
}

#promo {
  text-align: center;
  padding: 40px;
  background: url("../../assets/img/background.jpg") no-repeat;
  background-size: cover;
}

@media (max-width:991px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(254,254,254,0.76);
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

.dark-section {
  background-color: rgb(185,226,249);
}

.site-section {
  text-align: center;
  padding-bottom: 10px;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

#welcom p {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

#why .item {
  padding: 36px;
}

#why .item i {
  font-size: 42px;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 26px;
  font-size: 24px;
}

